<div class="card-body text-center">
    <h1 class="text-primary">There is no Articles Saved!!!</h1>
    <div class="no-articles">
    </div>
    <a href="/">
        <h1>Back Home <i class="fa fa-home" aria-hidden="true"></i></h1>
    </a>
</div>